name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
  - cron: '3,18,33,48 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v3
    - name: Fetch latest data
      run: |-
        curl 'https://www.lta.gov.sg/content/ltagov/en/map/train/jcr:content/left-menu/ltaDatamallAPI.ltaDatamallAPI.POST.html' \
          -X POST --compressed --data-raw 'serviceName=LTAGOVTrainServiceAlerts&param=' | jq > alerts.json
    - name: Commit and push if it changed
      run: |-
        git config user.name "Git Scrape Action"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push

